<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.readboy.Dictionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".TestActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DictActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN"/> -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DictAppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|fontScale|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:windowSoftInputMode="adjustNothing|stateHidden">
            <intent-filter>
                <action android:name="com.readboy.Dictionary.DICTAPP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DictSearchActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|fontScale|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:taskAffinity="com.readboy.Dictionary.DictSearchActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="com.readboy.Dictionary.DICTSEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.readboy.online.OnlineMainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateHidden">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="com.readboy.online.controller.searchword.SearchViewActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.readboy.online.controller.searchword.SearchResultActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.readboy.Dictionary.NewWordAppActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:configChanges="keyboard|keyboardHidden|orientation|fontScale|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="com.readboy.Dictionary.NEWWORD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.readboy.offline.provider.CollectionProvider"
            android:authorities="com.readboy.dictionary.collection"
            android:exported="true" />

        <activity
            android:name="com.readboy.online.controller.searchword.SearchListActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.readboy.online.controller.searchword.strokes.StroksSearchResultActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.readboy.online.test.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.readboy.online.controller.searchword.pinyin.PinYinSearchResultActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name="com.readboy.online.controller.searchword.redical.RedicalSearchResultActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            />
    </application>

</manifest>